<!DOCTYPE>
<html>
	<head>
		<title>
			Sanz Test
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="/assets/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css" type="text/html"> -->

	</head>
	
	<body>
		<div class="container">